.counter-container { 
  padding: 0;
  background: linear-gradient(135deg, #232526, #414345);
  height: 95vh;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.counter-input {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  margin: 40px;
}

.counter-input:focus {
  border-color: #4facfe;
}
.btn-section{
  margin: 0px 40px;

}

.counter-value {
  border: 2px solid #333;
  padding: 7px 14px;
  font-size: 20px;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 8px;
  background: #f5f5f5;
  min-width: 40px;
  text-align: center;
}

.counter-btn {
  padding: 8px 14px;
  margin: 0 5px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #e7e7e7;
  color: #000;
  transition: all 0.2s ease;
}

.counter-btn:hover {
  background: #c3c2c2;
  color: #fff;
  transform: scale(1.05);
}